
<h1 style="text-align: center;">Manage Sub Category</h1>        
        <div class="account-pages my-5 pt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                               
                                <form action="/admin/manage-sub-category/{{ categoryId }}" class="p-2" method="post" id="manageSubCategoryForm">
                                    <div class="form-group">
                                      {{#if subcategoryErr}}
                                      <div class="alert alert-danger">
                                        {{subcategoryErr}}
                                      </div>
                                      {{/if}}
                                        <label for="emailaddress">New Sub Category Name</label>
                                        <input class="form-control" type="text" id="category" name="subcategory" placeholder="Enter New Sub-Category Name">
                                    </div>
                                   
                                    <div class="mb-3 text-center">
                                        <button class="btn btn-primary btn-block" type="submit"> Add </button>
                                    </div>
                                </form>
                            </div>
                          
                        </div>
                       
                    </div>
                   
                </div>
              
            </div>
           
        </div>



<h4>Existing Sub Categories</h4>


<div class="co1-12 mt-3 w-50" style="margin-left: 10%">

  

  <table class="table table-bordered mt-2 tb_datatable">
    <thead>
      <tr>
        <th>Sub Category Name</th>
        <th>Action</th>
       
      </tr>
    </thead>
    <tbody id="myTable">
      {{#each Subcategory}}
      <tr>
    
        <td>{{this.subcategory}}</td>
        <td style="text-align: center;"><a href="/admin/deletesubcategory/{{this._id}}" onclick="return confirm('Are You Sure Delete This Sub-Category')"><i class="fas fa-trash text-danger" style="font-size: 20px;"></i></a></td>
       
         </tr>
         {{/each}}
        
     
    </tbody>
  </table>
  

</div>

        
  