<h1 style="text-align: center;">Ba</h1>


<div class="co1-12 mt-3">

  

  <table class="table table-bordered mt-2 tb_datatable">
    <thead>
      <tr>
        <th>Images</th>
       
        <th>Title</th>
        <th>Action</th>
        
        
      </tr>
    </thead>
    <tbody id="myTable">
                
     {{#each banner}}
      <tr>
        <td><img style="width: 100px; height: 100px;" src="/product-images/{{this._id}}first.jpg" alt="No image found"></td>
        <td>{{this.title1}}</td>
        <td><a href="/admin/edit-product/{{this._id}}"><i class="fas fa-edit" style="font-size: 25px; color: blue;"></i> </a><a href="/admin/delete-product/{{this._id}}"><i class="fas fa-trash ml-3" style="font-size: 25px; color: red;"></i></a></td>
         </tr>
         {{/each}}
         
     
    </tbody>
  </table>
  

</div>