<div id="page-content">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a> <span
                    aria-hidden="true">|</span> <span>Create An Account</span></div>
        </div>
    </div>
    <div class="page-title">
        <h1>Create An Account</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 box">
                <div class="mb-4">
                    <h3>Personal Information</h3>
                    {{#if err}}
                    <div class="alert alert-danger">
                        {{err}}
                    </div>

                    {{/if}}
                    <form id="userSignupForm" method="post" action="/signup" class="contact-form">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="CustomerFirstName">First Name <span class="required">*</span></label>
                                    <input id="CustomerFirstName" type="text" name="firstname" placeholder="" class=""
                                        autocorrect="off" autocapitalize="off" autofocus>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="CustomerLastName">Last Name <span class="required">*</span></label>
                                    <input id="CustomerLastName" type="text" name="lastname" placeholder="" class=""
                                        autocorrect="off" autocapitalize="off" autofocus>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="CustomerEmail">Email Address <span class="required">*</span></label>
                                    <input id="CustomerEmail" type="text" name="email" placeholder="" class=""
                                        autocorrect="off" autocapitalize="off" autofocus>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="CustomerUsername">Username <span class="required">*</span></label>
                                    <input id="CustomerUsername" type="text" name="username" placeholder="" class=""
                                        autocorrect="off" autocapitalize="off" autofocus>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="CustomerPhoneNumber">Phone Number <span class="required">*</span></label>
                                    <input id="CustomerPhoneNumber" type="text" name="phone" placeholder="" class=""
                                        autocorrect="off" autocapitalize="off" autofocus>
                                </div>
                            </div>
                        </div>





                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="CustomerNewPassword">New Password <span class="required">*</span></label>
                                    <input id="CustomerNewPassword" type="password" name="password" placeholder="" class=""
                                        autocorrect="off" autocapitalize="off" autofocus>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="CustomerConfirmPassword">Confirm Password <span
                                            class="required">*</span></label>
                                    <input id="CustomerConfirmPassword" type="password" name="confirmpassword" placeholder=""
                                        class="" autocorrect="off" autocapitalize="off" autofocus>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="text-left col-12 col-sm-12 col-md-6 col-lg-6">
                                <input type="submit" class="btn mb-3" value="SIGN UP">
                            </div>
                            <div class="text-right col-12 col-sm-12 col-md-6 col-lg-6">
                                <a href="/login">Already have an account.</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>